openapi: 3.2.0
info:
  description: Api Documentation
  version: '1.0'
  title: Documentation Vendor API Controller API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://service.chromeriver.com
tags:
- name: vendor-api-controller
  description: Operations in Vendor API application service
paths:
  /vendor-api/:
    post:
      tags:
      - vendor-api-controller
      summary: Create vendor
      description: This web service allows an external application to create vendor in Chrome River
      operationId: createVendorUsingPOST
      parameters:
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: 'API key for Authentication '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorData'
        description: Vendor to create
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VendorData'
        '400':
          description: Customer Code is invalid.
        '401':
          description: Customer Code or api key is not authorized.
        '422':
          description: Vendor is not created. Vendor data has some business rules violations
        '503':
          description: Service unavailable.
      deprecated: false
  /vendor-api/create-or-update:
    post:
      tags:
      - vendor-api-controller
      summary: Create or Update vendor
      description: This web service allows an external application to create or update vendor in chromeriver
      operationId: upsertVendorUsingPOST
      parameters:
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: 'API key for Authentication '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        description: vendorData
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VendorData'
        '400':
          description: Customer Code is invalid.
        '401':
          description: Customer Code or api key is not authorized.
        '422':
          description: Vendor is not created or updated. Vendor have some business rules violations
        '503':
          description: Service unavailable.
      deprecated: false
  /vendor-api/{vendorUniqueId}:
    get:
      tags:
      - vendor-api-controller
      summary: Get vendor
      description: This web service allows an external application to get vendor information
      operationId: getVendorUsingGET
      parameters:
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: includeVendorAddress
        in: query
        description: Include Vendor Address in response
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
          default: true
      - name: vendorUniqueId
        in: path
        description: Unique vendor identifier
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: 'API key for Authentication '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VendorData'
        '400':
          description: Customer Code is invalid.
        '401':
          description: Customer Code or api key is not authorized.
        '503':
          description: Service unavailable.
      deprecated: false
    patch:
      tags:
      - vendor-api-controller
      summary: Update vendor
      description: This web service allows an external application to update vendor in Chrome River
      operationId: updateVendorUsingPATCH
      parameters:
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: vendorUniqueId
        in: path
        description: vendorUniqueId
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: 'API key for Authentication '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorData'
        description: Vendor data to update
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VendorData'
        '400':
          description: Customer Code is invalid.
        '401':
          description: Customer Code or api key is not authorized.
        '422':
          description: Vendor is not updated. Vendor have some business rules violations
        '503':
          description: Service unavailable.
      deprecated: false
  /vendor-api/{vendorUniqueId}/addresses/{vendorAddressUniqueId}:
    get:
      tags:
      - vendor-api-controller
      summary: Get vendor address
      description: This web service allows an external application to get vendor address information
      operationId: getVendorAddressUsingGET
      parameters:
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: vendorAddressUniqueId
        in: path
        description: Unique vendor address identifier
        required: true
        schema:
          type: string
      - name: vendorUniqueId
        in: path
        description: Unique vendor identifier
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: 'API key for Authentication '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VendorAddressData'
      deprecated: false
components:
  schemas:
    VendorAddressData:
      type: object
      required:
      - addressDescription1
      - city
      - country
      - stateProvince
      - status
      - vendorAddressName
      - vendorAddressUniqueId
      - zipCode
      properties:
        addressDescription1:
          type: string
          description: Street and name of the address
        addressDescription2:
          type: string
          description: Apartment or unit description
        bankAccountName:
          type: string
        bankAccountNumber:
          type: string
          description: Account number
        bankCode:
          type: string
          description: Bank code associated for the vendor
        bankIBANNumber:
          type: string
        bankName:
          type: string
        bankRoutingNumber:
          type: string
          description: Routing Number
        city:
          type: string
          description: City where the vendor is located
        country:
          type: string
          description: Country where the vendor is located
        currencyCode:
          type: string
          description: This is the currency associated with the Vendor Address. These codes are standard three character values (e.g., USD, GBP, JPY, HKD, etc).
        emailAddress:
          type: string
          description: Email address of vendor
        emailAddress2:
          type: string
          description: Secondary Email address of vendor
        maximumCardAmount:
          type: number
        paymentModeACH:
          type: string
        paymentModeCard:
          type: string
        paymentModeCheck:
          type: string
        paymentModeWire:
          type: string
        phoneNumber:
          type: string
          description: Phone number of the vendor.
        requestDate:
          type: string
          format: date-time
          description: 'Request date. Accepted date format: ''yyyy-MM-dd''T''HH:mm:ss.SSSZ'' '
        specialPayTerm:
          type: integer
          format: int32
          description: Discount term in number of days for early payment
        specialPayTermDiscPct:
          type: number
          description: Discount percentage offered by the vendor for early payment
        standardPayTerm:
          type: integer
          format: int32
        stateProvince:
          type: string
          description: State where vendor is located
        status:
          type: string
          description: This is the status of the vendor address. If not provided the default value will be 'ACT'. Values can be 'ACT' (ACTIVE) and 'INAC' (INACTIVE)
        taxCode:
          type: string
          description: Tax code associated for the vendor
        type:
          type: string
          description: Type of vendor address. If not provided the default value will be 'DFLT'. Values can be 'DFLT' (DEFAULT) and 'TEMP' (TEMPORAL)
        udf1:
          type: string
          description: User-Defined Field 1
        udf2:
          type: string
          description: User-Defined Field 2
        udf3:
          type: string
          description: User-Defined Field 3
        udf4:
          type: string
          description: User-Defined Field 4
        udf5:
          type: string
          description: User-Defined Field 5
        vatRegistrationNumber:
          type: string
          description: VAT registration number
        vendorAddressName:
          type: string
          description: Name of the vendor address
        vendorAddressUniqueId:
          type: string
          description: Customer-unique vendor address identifier
        zipCode:
          type: string
          description: Zip code where vendor is located
      title: VendorAddressData
    VendorData:
      type: object
      required:
      - number
      - vendorName
      - vendorRequestDate
      - vendorUniqueId
      properties:
        number:
          type: string
          description: Vendor number
        status:
          type: string
          description: Vendor status. If not provided the default value will be 'ACT'. Values can be 'ACT' (ACTIVE) and 'INAC' (INACTIVE)
        type:
          type: string
          description: ' Type of Vendor. If not provided the default value will be ''DFLT''. Values can be ''DFLT'' (DEFAULT) and ''TEMP'' (TEMPORAL)'
        udf1:
          type: string
          description: User-Defined Field 1
        udf2:
          type: string
          description: User-Defined Field 2
        udf3:
          type: string
          description: User-Defined Field 3
        udf4:
          type: string
          description: User-Defined Field 4
        udf5:
          type: string
          description: User-Defined Field 5
        vendorAddresses:
          type: array
          description: Addresses associated with the vendor
          items:
            $ref: '#/components/schemas/VendorAddressData'
        vendorName:
          type: string
          description: Vendor name
        vendorRequestDate:
          type: string
          format: date-time
          description: 'Vendor Request Date. Accepted date format: ''yyyy-MM-dd''T''HH:mm:ss.SSSZ'' '
        vendorUniqueId:
          type: string
          description: Customer unique vendor identifier
      title: VendorData
