openapi: 3.0.0
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation Accounts Categories API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://service.chromeriver.com
tags:
- name: Categories
paths:
  /categories:
    get:
      operationId: get_categories
      description: ''
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: is_archived
        required: false
        in: query
        description: is_archived
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - results
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/_Segment'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Categories
    post:
      operationId: post_categories
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_Segment'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Segment'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Categories
  /categories/{id}:
    get:
      operationId: get_categories_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: is_archived
        required: false
        in: query
        description: is_archived
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Segment'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Categories
    put:
      operationId: put_categories_by_id
      description: Always perform a partial update.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: is_archived
        required: false
        in: query
        description: is_archived
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_Segment'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Segment'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Categories
    delete:
      operationId: delete_categories_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: is_archived
        required: false
        in: query
        description: is_archived
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Categories
components:
  schemas:
    _Segment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        code:
          type: string
          nullable: true
          pattern: ^[0-9A-z\.\-]+$
          maxLength: 36
          minLength: 1
        parent:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
          nullable: true
        is_archived:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        url:
          type: string
          readOnly: true
      required:
      - name
      - created_at
