openapi: 3.0.0
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation Accounts Requisitions API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://service.chromeriver.com
tags:
- name: Requisitions
paths:
  /requisitions:
    get:
      operationId: get_requisitions
      description: ''
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: ends_before
        required: false
        in: query
        description: ends_before
        schema:
          type: string
      - name: has_balance
        required: false
        in: query
        description: has_balance
        schema:
          type: string
      - name: member
        required: false
        in: query
        description: member
        schema:
          type: string
      - name: starts_after
        required: false
        in: query
        description: starts_after
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: status
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - results
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIRequisition'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Requisitions
    post:
      operationId: post_requisitions
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIRequisition'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIRequisition'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Requisitions
  /requisitions/{id}:
    get:
      operationId: get_requisitions_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: ends_before
        required: false
        in: query
        description: ends_before
        schema:
          type: string
      - name: has_balance
        required: false
        in: query
        description: has_balance
        schema:
          type: string
      - name: member
        required: false
        in: query
        description: member
        schema:
          type: string
      - name: starts_after
        required: false
        in: query
        description: starts_after
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: status
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIRequisition'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Requisitions
    put:
      operationId: put_requisitions_by_id
      description: Always perform a partial update.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: ends_before
        required: false
        in: query
        description: ends_before
        schema:
          type: string
      - name: has_balance
        required: false
        in: query
        description: has_balance
        schema:
          type: string
      - name: member
        required: false
        in: query
        description: member
        schema:
          type: string
      - name: starts_after
        required: false
        in: query
        description: starts_after
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: status
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIRequisition'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIRequisition'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Requisitions
    delete:
      operationId: delete_requisitions_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: ends_before
        required: false
        in: query
        description: ends_before
        schema:
          type: string
      - name: has_balance
        required: false
        in: query
        description: has_balance
        schema:
          type: string
      - name: member
        required: false
        in: query
        description: member
        schema:
          type: string
      - name: starts_after
        required: false
        in: query
        description: starts_after
        schema:
          type: string
      - name: status
        required: false
        in: query
        description: status
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Requisitions
components:
  schemas:
    APIRequisition:
      type: object
      properties:
        amount:
          type: number
          multipleOf: 0.01
          maximum: 100000000000000
          minimum: 0.01
        approved_at:
          type: string
          format: date-time
          readOnly: true
        balance:
          type: number
          multipleOf: 0.01
          maximum: 100000000000000
          minimum: -100000000000000
          readOnly: true
        card:
          type: object
          properties:
            id:
              type: string
              format: uuid
            url:
              type: string
              readOnly: true
            state:
              type: string
              readOnly: true
            description:
              type: string
              readOnly: true
              maxLength: 255
            last_four:
              type: string
              readOnly: true
              pattern: ^[0-9]{4}$
              maxLength: 4
          required:
          - description
          - last_four
          nullable: true
        category:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
          nullable: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        days_of_week:
          type: array
          items:
            type: integer
            maximum: 6
          nullable: true
          maxItems: 7
        department:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
          nullable: true
        description:
          type: string
          maxLength: 1000
        end_hour:
          type: integer
          maximum: 23
          nullable: true
          minimum: 0
        end_time:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: uuid
          readOnly: true
        interval:
          type: string
          nullable: true
        label:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
          nullable: true
        location:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
          nullable: true
        member:
          type: object
          properties:
            id:
              type: string
              format: uuid
            url:
              type: string
              readOnly: true
            email:
              type: string
              readOnly: true
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            first_name:
              type: string
              readOnly: true
              maxLength: 255
            last_name:
              type: string
              readOnly: true
              maxLength: 255
          required:
          - first_name
          - last_name
        note:
          type: string
          nullable: true
          maxLength: 1000
        reviewed_by:
          type: object
          properties:
            id:
              type: string
              format: uuid
            url:
              type: string
              readOnly: true
            email:
              type: string
              readOnly: true
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            first_name:
              type: string
              readOnly: true
              maxLength: 255
            last_name:
              type: string
              readOnly: true
              maxLength: 255
          required:
          - first_name
          - last_name
        scope:
          type: array
          items:
            type: integer
            maximum: 9223372036854775807
            minimum: 1
            format: int64
          maxItems: 10
        start_hour:
          type: integer
          maximum: 23
          nullable: true
          minimum: 0
        start_time:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
        url:
          type: string
          readOnly: true
      required:
      - amount
      - approved_at
      - balance
      - created_at
      - description
      - member
