openapi: 3.0.0
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation Accounts API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://service.chromeriver.com
tags:
- name: Accounts
paths:
  /accounts:
    get:
      operationId: get_accounts
      description: ''
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - results
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIAccount'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Accounts
  /accounts/{id}:
    get:
      operationId: get_accounts_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIAccount'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Accounts
  /accounts/{account_pk}/statement-lines:
    get:
      operationId: get_accounts_by_account_pk_statement_lines
      description: ''
      parameters:
      - name: account_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: number
        required: false
        in: query
        description: number
        schema:
          type: string
      - name: number__lt
        required: false
        in: query
        description: number__lt
        schema:
          type: string
      - name: number__gt
        required: false
        in: query
        description: number__gt
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: start_date
        required: false
        in: query
        description: start date
        schema:
          type: string
      - name: end_date
        required: false
        in: query
        description: end date
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - results
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIStatementLine'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Accounts
  /accounts/{account_pk}/statement-lines/{id}:
    get:
      operationId: get_accounts_by_account_pk_statement_lines_by_id
      description: ''
      parameters:
      - name: account_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: number
        required: false
        in: query
        description: number
        schema:
          type: string
      - name: number__lt
        required: false
        in: query
        description: number__lt
        schema:
          type: string
      - name: number__gt
        required: false
        in: query
        description: number__gt
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: start_date
        required: false
        in: query
        description: start date
        schema:
          type: string
      - name: end_date
        required: false
        in: query
        description: end date
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIStatementLine'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Accounts
components:
  schemas:
    APIStatementLine:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          readOnly: true
        amount:
          type: number
          multipleOf: 0.01
          maximum: 100000000000000
          minimum: -100000000000000
          readOnly: true
        foreign_amount:
          type: number
          multipleOf: 0.001
          maximum: 10000000000000
          minimum: -10000000000000
          readOnly: true
        foreign_currency_code:
          type: string
          readOnly: true
        description:
          type: string
          readOnly: true
        card:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            url:
              type: string
              readOnly: true
            state:
              type: string
              readOnly: true
            description:
              type: string
              readOnly: true
              maxLength: 255
            last_four:
              type: string
              readOnly: true
              pattern: ^[0-9]{4}$
              maxLength: 4
          required:
          - description
          - last_four
          readOnly: true
        member:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            url:
              type: string
              readOnly: true
            email:
              type: string
              readOnly: true
            code:
              type: string
              readOnly: true
              nullable: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            first_name:
              type: string
              readOnly: true
              maxLength: 255
            last_name:
              type: string
              readOnly: true
              maxLength: 255
          required:
          - first_name
          - last_name
          readOnly: true
        bank_account:
          type: string
          readOnly: true
        merchant:
          type: string
          readOnly: true
        vendor:
          type: string
          readOnly: true
        origin:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            url:
              type: string
              readOnly: true
            amount:
              type: string
              readOnly: true
            state:
              type: string
              readOnly: true
            category:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                  readOnly: true
                  maxLength: 255
                code:
                  type: string
                  readOnly: true
                  nullable: true
                  pattern: ^[0-9A-z\.\-]+$
                  maxLength: 36
                  minLength: 1
                parent:
                  type: object
                  properties: {}
                  readOnly: true
                is_archived:
                  type: boolean
                  readOnly: true
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                url:
                  type: string
                  readOnly: true
              required:
              - name
              - parent
              readOnly: true
              nullable: true
            department:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                  readOnly: true
                  maxLength: 255
                code:
                  type: string
                  readOnly: true
                  nullable: true
                  pattern: ^[0-9A-z\.\-]+$
                  maxLength: 36
                  minLength: 1
                parent:
                  type: object
                  properties: {}
                  readOnly: true
                is_archived:
                  type: boolean
                  readOnly: true
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                url:
                  type: string
                  readOnly: true
              required:
              - name
              - parent
              readOnly: true
              nullable: true
            label:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                  readOnly: true
                  maxLength: 255
                code:
                  type: string
                  readOnly: true
                  nullable: true
                  pattern: ^[0-9A-z\.\-]+$
                  maxLength: 36
                  minLength: 1
                parent:
                  type: object
                  properties: {}
                  readOnly: true
                is_archived:
                  type: boolean
                  readOnly: true
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                url:
                  type: string
                  readOnly: true
              required:
              - name
              - parent
              readOnly: true
              nullable: true
            location:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                  readOnly: true
                  maxLength: 255
                code:
                  type: string
                  readOnly: true
                  nullable: true
                  pattern: ^[0-9A-z\.\-]+$
                  maxLength: 36
                  minLength: 1
                parent:
                  type: object
                  properties: {}
                  readOnly: true
                is_archived:
                  type: boolean
                  readOnly: true
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                url:
                  type: string
                  readOnly: true
              required:
              - name
              - parent
              readOnly: true
              nullable: true
            note:
              type: string
              readOnly: true
              maxLength: 1000
            purchase_details:
              type: object
              readOnly: true
            receipt:
              type: string
              readOnly: true
            time:
              type: string
              format: date-time
              readOnly: true
            review_status:
              enum:
              - pending
              - approved
              - denied
              - out_of_policy
              - exempt
              type: string
              readOnly: true
              nullable: true
            type:
              type: string
              readOnly: true
          required:
          - purchase_details
          - time
          readOnly: true
        number:
          type: integer
          readOnly: true
        date:
          type: string
          format: date
          readOnly: true
        time:
          type: string
          format: date-time
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - amount
      - foreign_amount
      - foreign_currency_code
      - date
      - time
      - created_at
    APIAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        number:
          type: string
          readOnly: true
        ledger_balance:
          type: number
          multipleOf: 0.01
          maximum: 100000000000000
          minimum: -100000000000000
          readOnly: true
        available_balance:
          type: number
          multipleOf: 0.01
          maximum: 100000000000000
          minimum: -100000000000000
          readOnly: true
        currency_code:
          type: string
          readOnly: true
        minimum_balance:
          type: string
          readOnly: true
        available_credit:
          type: string
          readOnly: true
        pending_credits:
          type: number
          multipleOf: 0.01
          maximum: 100000000000000
          minimum: -100000000000000
          readOnly: true
        credit_limit:
          type: number
          multipleOf: 0.01
          maximum: 100000000000000
          minimum: -100000000000000
          readOnly: true
        funding_source:
          type: object
          properties:
            description:
              type: string
              readOnly: true
              maxLength: 255
            name:
              type: string
              readOnly: true
              maxLength: 255
            number:
              type: string
              readOnly: true
            is_verified:
              type: boolean
              readOnly: true
          required:
          - description
          - name
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - currency_code
      - funding_source
      - created_at
