openapi: 3.2.0
info:
  title: PreApproval API Documentation Pre Approval Import Controller API
  description: API for managing pre-approval reports and workflows
  contact:
    name: Chrome River Technologies
    url: https://www.chromeriver.com/contact
    email: info@chromeriver.com
  version: v1.0
servers:
- url: https://service.chromeriver.com
  description: PreApproval API Development Server
tags:
- name: pre-approval-import-controller
paths:
  /v1/preapproval-reports:
    post:
      tags:
      - pre-approval-import-controller
      summary: Create a draft/approved PreApproval report
      description: This service allows an external application to create a pre-approval report in DRAFT/APPROVED status
      operationId: createPreApproval
      parameters:
      - name: chain-id
        in: header
        description: Reference used to track the flow of the request
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      responses:
        '201':
          description: PreApproval report created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreApprovalImportOutput'
        '400':
          description: Customer Code is invalid. / Unprocessable input payload.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        '503':
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    PreApprovalImportOutput:
      required:
      - reportReference
      type: object
      properties:
        reportReference:
          type: string
          description: Reference number for newely created pre-approval report
