openapi: 3.0.0
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation Accounts pre-approval-api-controller-v-2 API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://service.chromeriver.com
tags:
- name: pre-approval-api-controller-v-2
paths:
  /v2/preapproval-reports/{reportId}/notes:
    post:
      tags:
      - pre-approval-api-controller-v-2
      summary: Add note to a Pre-Approval Report
      description: This web service allows an external application to add a note to a Pre-Approval Report
      operationId: addNote
      parameters:
      - name: chain-id
        in: header
        description: Used for tracking the flow of the request
        required: true
        schema:
          type: string
      - name: reportId
        in: path
        description: Report ID for pre-approval report
        required: true
        schema:
          type: string
      - name: logged-in-user-id
        in: header
        description: Unique ID for the approver logged in making request
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreApprovalNoteTO'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreApprovalNoteTO'
        '400':
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Customer Code is not authorized. Cannot add comment to Pre-Approval Report.
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Logged in user does not exist
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Pre-Approval Report does not exist.
          content:
            application/json:
              schema:
                type: object
        '503':
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v2/preapproval-reports/{reportId}:
    get:
      tags:
      - pre-approval-api-controller-v-2
      summary: Get pre-approval report
      description: This web service allows an external application to retrieve pre-approval report by ReportId
      operationId: getPreapprovalReport
      parameters:
      - name: chain-id
        in: header
        description: Used for tracking the flow of the request
        required: true
        schema:
          type: string
      - name: reportId
        in: path
        description: Identifier for the pre-approval report.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreApprovalV2TO'
        '400':
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Customer Code is not authorized. Cannot add comment to Pre-Approval Report.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Report with provided reportId does not exist.
          content:
            application/json:
              schema:
                type: object
        '503':
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v2/preapproval-report-approvals/{reportId}:
    get:
      tags:
      - pre-approval-api-controller-v-2
      summary: Get pre-approval report details
      description: This web service allows an external application to get the details of Pre-Approval Report
      operationId: getPreApproval
      parameters:
      - name: reportId
        in: path
        description: Report ID for pre-approval report
        required: true
        schema:
          type: string
      - name: chain-id
        in: header
        description: Used for tracking the flow of the request
        required: true
        schema:
          type: string
      - name: logged-in-user-id
        in: header
        description: Unique ID for the approver logged in making request
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreApprovalV2TO'
        '400':
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Customer Code is not authorized. Cannot get details of Pre-Approval Report.
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Logged in user is not allowed to view details Pre-Approval Report or Logged in user does not exist
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Pre-Approval Report does not exist.
          content:
            application/json:
              schema:
                type: object
        '503':
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Entity:
      required:
      - active
      - code
      - customerId
      - name
      - sortOrder
      type: object
      properties:
        entityID:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        name:
          type: string
        code:
          type: string
        active:
          type: boolean
        extraData1:
          type: string
        extraData2:
          type: string
        extraData3:
          type: string
        extraData4:
          type: string
        extraData5:
          type: string
        createSource:
          type: string
        personLoggedInID:
          type: integer
          format: int32
        personDelegateID:
          type: integer
          format: int32
        updateDate:
          type: string
          format: date-time
        sortOrder:
          type: string
        entityTypeID:
          type: integer
          format: int32
        entityTypeCode:
          type: string
        personEntities:
          type: array
          items:
            $ref: '#/components/schemas/PersonEntity'
        entityLanguages:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/EntityLanguage'
        dnd:
          type: boolean
    PersonUDA:
      required:
      - createDate
      - customerID
      - updateDate
      - userDefinedAttributeID
      type: object
      properties:
        personUdaID:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        userDefinedAttributeID:
          type: integer
          format: int32
        customerID:
          type: integer
          format: int32
        stringValue:
          type: string
        booleanValue:
          type: boolean
        entityValue:
          type: integer
          format: int32
        dateValue:
          type: string
          format: date-time
        currencyValue:
          type: number
        numberValue:
          type: number
        isDeleted:
          type: boolean
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        udaName:
          type: string
        udaValue:
          type: string
        userDefinedAttributeValue:
          type: string
          writeOnly: true
    Uda:
      type: object
      properties:
        userDefinedAttributeId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        stringValue:
          type: string
        numberValue:
          type: number
        currencyValue:
          type: number
        entityValue:
          $ref: '#/components/schemas/Entity'
        entityValueInt:
          type: integer
          format: int32
        dateValue:
          type: string
          format: date-time
        boolValue:
          type: boolean
        udaDataType:
          type: string
          enum:
          - BooleanValue
          - CurrencyValue
          - DateValue
          - EntityValue
          - NumberValue
          - StringValue
          - DecimalValue
        xmlElement:
          type: string
        udaName:
          type: string
        personStandardScreenLabel:
          type: string
    EntityLanguage:
      required:
      - createDate
      - customerId
      - entityId
      - languageId
      - name
      - updateDate
      type: object
      properties:
        entityLanguageId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        name:
          type: string
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        locale:
          type: string
        entity:
          $ref: '#/components/schemas/Entity'
    PreApprovalLineItemAllocationV2TO:
      type: object
      properties:
        allocationId:
          type: string
          description: This Id maps to the allocation unique Id
        costCodeOverride:
          type: string
        amountSpent:
          type: number
        percent:
          type: number
      description: These line item allocations map to the header allocation but provide the CostCodeOverride field
    Person:
      required:
      - createDate
      - currencyCode1
      - currencyMask
      - customerId
      - customerUniqueId
      - dateFormatMask
      - emailAddress
      - emailFormat
      - expenseBarID
      - firstName
      - isCopyingItems
      - isFirmReporting
      - isSuperDelegate
      - languageId
      - lastName
      - personStatusId
      - updateDate
      - useOnline
      - username
      type: object
      properties:
        personId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        alternateEmails:
          type: array
          items:
            $ref: '#/components/schemas/PersonAlternateEmailAddress'
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        customerUniqueId:
          type: string
        reportsToPersonId:
          type: integer
          format: int32
        emailAddress:
          type: string
        personStatusId:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
        title:
          type: string
        carPlanId:
          type: integer
          format: int32
        carPlanTierId:
          type: integer
          format: int32
        currencyCode1:
          type: string
        vendor1:
          type: string
        currencyCode2:
          type: string
        vendor2:
          type: string
        dateFormatMask:
          type: string
        currencyMask:
          type: string
        expenseBarID:
          type: integer
          format: int32
        country_Alpha2:
          type: string
        interactionUserID:
          type: string
        interactionAccountName:
          type: string
        isCopyingItems:
          type: boolean
        isFirmReporting:
          type: boolean
        isSuperDelegate:
          type: boolean
        useOnline:
          type: boolean
        languageId:
          type: integer
          format: int32
        alternateCurrencyCodes:
          type: string
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        emailFormat:
          type: string
        isModifiable:
          type: boolean
        analyticsUserType:
          type: string
          enum:
          - 'NULL'
          - U99
          - U01
          - U02
          - U03
          - U04
        analyticsModules:
          type: string
          enum:
          - 'NULL'
          - M01
          - M02
          - M03
          - M04
          - M05
          - M06
          - M07
          - M08
          - M09
          - M10
        analyticsView:
          type: string
          enum:
          - 'NULL'
          - V01
          - V02
          - V03
          - V04
          - V05
          - V06
          - V07
          - V08
          - V09
          - V10
        isAdmin:
          type: boolean
        phoneNumber:
          type: string
        personalDistanceDefault:
          type: number
          format: double
        personalDistanceCostDefault:
          type: number
          format: double
        createSource:
          type: string
        personLoggedInID:
          type: integer
          format: int32
        personDelegateID:
          type: integer
          format: int32
        personUDAs:
          type: array
          items:
            $ref: '#/components/schemas/PersonUDA'
        personProfile:
          $ref: '#/components/schemas/PersonProfile'
        statusDirectPay:
          type: string
          enum:
          - ACT
          - NONE
        personResourceId:
          type: string
        personEntities:
          type: array
          items:
            $ref: '#/components/schemas/PersonEntityV2'
        reportsToPerson:
          $ref: '#/components/schemas/Person'
        reportsToPersonName:
          type: string
        password:
          type: string
        password5702:
          type: string
        company:
          type: string
        companyId:
          type: string
        defaultApplication:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
        mobileDeviceLogin:
          type: boolean
        loginMethod:
          type: string
          enum:
          - CHROME_DB
          - LDAP
          - CHROME_SSO
          - SAML_SSO
          - RADIUS_SSO
        currentLandingApps:
          type: array
          items:
            type: string
            enum:
            - '1'
            - '2'
            - '3'
        loginLocale:
          type: string
        mongoConf:
          type: string
        enableAnalytics:
          type: boolean
        crSsoPasswordOriginal:
          type: string
        encryptedPassword:
          type: string
        encryptedUsername:
          type: string
        encryptedCompanyId:
          type: string
        locationCodeForVat:
          type: string
        saveOnSelectExpenseTypeNames:
          type: string
        locationCodeForPerDiem:
          type: string
        locationCodeForPAPerDiem:
          type: string
        alternateEmailAddress1:
          type: string
        alternateEmailAddress2:
          type: string
        alternateEmailAddress3:
          type: string
        expenseBarCode:
          type: string
        distanceUnit:
          type: string
        crmNumber:
          type: string
        npi:
          type: integer
          format: int32
        providerBusinessMailingAddressCityName:
          type: string
        providerBusinessMailingAddressStateName:
          type: string
        specialty:
          type: string
        healthCareProviderId:
          type: integer
          format: int32
        enablePlatinumLinkInsideApp:
          type: boolean
        motdType:
          type: string
        enableGetDeparted:
          type: boolean
        isConfigurationEnabled:
          type: boolean
          writeOnly: true
        enableInvoiceMgmtGrid:
          type: boolean
        invoiceBarType:
          type: string
        invoiceOCRConfidenceThreshold:
          type: number
        poBarType:
          type: string
        esPersonSearchMap:
          type: object
          additionalProperties:
            type: object
        esPersonSearchQuery:
          type: string
        esPersonSearchQueryExclusion:
          type: string
        companyWideFeedIds:
          type: array
          items:
            type: integer
            format: int32
        enableMatterOnSelectES:
          type: boolean
        enableBulkAdd:
          type: boolean
        displayAmexRealtimeNotifications:
          type: boolean
        usBankRealTimeNotificationsEnabled:
          type: boolean
        emburseRealTimeNotificationsEnabled:
          type: boolean
        displayAdminConsole:
          type: boolean
        isUIAdmin:
          type: boolean
        isSuperAdmin:
          type: boolean
        displayReconciliation:
          type: boolean
        displayReAssignButton:
          type: boolean
        displayReAssignButtonHeaderOnly:
          type: boolean
        hideApproverReturnOnLineItem:
          type: boolean
        hideApproverAdjustOnLineItem:
          type: boolean
        usingXmlUploadButton:
          type: boolean
        usingEastEuroPerDiem:
          type: boolean
        usingSalesforce:
          type: boolean
        displayImportFromPaCheckbox:
          type: boolean
        displayImportPerDiemMileageFromPaCheckbox:
          type: boolean
        defaultCheckedPaCheckbox:
          type: boolean
        paPerDiemTimePickerEnabled:
          type: boolean
        showFxRateSelectorInWizard:
          type: boolean
        hideOwnerTotalPayMeAmount:
          type: boolean
        languageLocale:
          type: string
        enableTravelBooking:
          type: boolean
        enableMultipleApprovalDelegates:
          type: boolean
        travelBookingURL:
          type: string
        openTravelBookingInNewTab:
          type: boolean
        alternateEmailAddresses:
          type: array
          items:
            type: string
        disableRecall:
          type: boolean
        disableGoogleMapsRouteChanges:
          type: boolean
        enableExpirePA:
          type: boolean
        useExpense:
          type: boolean
        enableExpenseManagement:
          type: boolean
        usingCrmAllocationAccountOnly:
          type: boolean
        useProsper:
          type: boolean
        delegateBankAccountEnabled:
          type: boolean
        sessionTimeoutInMinutes:
          type: integer
          format: int32
        enableProfileCardPrivateComments:
          type: boolean
        enableNegativePerDiemAmount:
          type: boolean
        enableInterActionContactSearch:
          type: boolean
        membershipAccountEnabled:
          type: boolean
        enableCopyingPA:
          type: boolean
        isVatApprover:
          type: boolean
        isRiskApprover:
          type: boolean
        personalCreditCardEnabled:
          type: boolean
        personalChargesEnabled:
          type: boolean
        hideStatementPaidValues:
          type: boolean
        perDiemConfigurationType:
          type: string
        hideLogoutOption:
          type: boolean
        enableLineItemBulkEditAllocation:
          type: boolean
        showRoutingRuleDescription:
          type: boolean
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionV2'
        fullName:
          type: string
        udf1:
          type: string
        udf2:
          type: string
        udf3:
          type: string
        germanPerDiemUser:
          type: boolean
        configurationEnabled:
          type: boolean
        usingPreApproval:
          type: boolean
        usingInvoice:
          type: boolean
        bankAccountEnabled:
          type: boolean
        usingCarPlan:
          type: boolean
        perDiemTimePickerEnabled:
          type: boolean
        usingPAExpenseMappingForApply:
          type: boolean
        dnd:
          type: boolean
        decryptedPhoneNumber:
          type: string
        emailPreference:
          type: string
          enum:
          - HTML
          - TEX1
        isInvoiceApprovalPreviewOnly:
          type: boolean
        isInvoicePriorPreviewOnly:
          type: boolean
        isInvoiceManagementPreviewOnly:
          type: boolean
        isBulkSubmitEnabled:
          type: boolean
        isRecallInvoiceEnabled:
          type: boolean
        isInvoiceSubmitToOcrEnabled:
          type: boolean
        isInvoiceCreditCardEnabled:
          type: boolean
        isInvoiceChargeTypeEnabled:
          type: boolean
        isInvoiceDefaultLineItemTaxCodeDisabled:
          type: boolean
        isInvoiceOCREnabled:
          type: boolean
        isInvoiceGLFilterEnabled:
          type: boolean
        isInvoiceConvertTemplatesDisabled:
          type: boolean
        isUsingPo:
          type: boolean
        isPoManagementGridEnabled:
          type: boolean
        isPoApprovalPreviewOnly:
          type: boolean
        isPoPriorPreviewOnly:
          type: boolean
        isPoManagementPreviewOnly:
          type: boolean
        isPoBulkSubmitEnabled:
          type: boolean
        isPoRecallEnabled:
          type: boolean
        isPoSubmitToOcrEnabled:
          type: boolean
        isPoReceivingScreenEnabled:
          type: boolean
    PreApprovalComplianceTO:
      type: object
      properties:
        description:
          type: string
        response:
          type: string
    PreApprovalUdaTO:
      type: object
      properties:
        udaName:
          type: string
        stringValue:
          type: string
        numberValue:
          type: number
        currencyValue:
          type: number
        entityValue:
          $ref: '#/components/schemas/Entity'
        dateValue:
          type: string
          format: date-time
        booleanValue:
          type: boolean
        udaDataType:
          type: string
    PreApprovalLineItemV2TO:
      type: object
      properties:
        id:
          type: string
        approvalAmount:
          type: number
        typeName:
          type: string
        typeDisplayName:
          type: string
        amountSpent:
          type: number
        description:
          type: string
        xmlUdfData:
          type: array
          items:
            $ref: '#/components/schemas/Uda'
        externalRef:
          type: string
        isPerDiem:
          type: boolean
        lineItemTypeId:
          type: integer
          description: Line Item Type Id mapping to the set of PA Line Item Types
          format: int32
        transactionDate:
          type: string
          format: date-time
        udas:
          type: array
          items:
            $ref: '#/components/schemas/PreApprovalLineItemUDATO'
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/PreApprovalLineItemAllocationTO'
        lineItemAllocations:
          type: array
          description: These line item allocations map to the header allocation but provide the CostCodeOverride field
          items:
            $ref: '#/components/schemas/PreApprovalLineItemAllocationV2TO'
    PersonEntityV2:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        customerId:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        entityCode:
          type: string
        entityStatus:
          type: boolean
        entityTypeId:
          type: integer
          format: int32
        entityTypeName:
          type: string
        entityTypeCode:
          type: string
        entityTypeIsUsedInRules:
          type: boolean
        entityTypeDesc:
          type: string
        entityTypeStatus:
          type: boolean
        roleId:
          type: integer
          format: int32
        roleName:
          type: string
        roleIsUsedInRules:
          type: boolean
        roleDescription:
          type: string
        active:
          type: boolean
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        fromDate:
          type: string
          format: date-time
        toDate:
          type: string
          format: date-time
        dateReplaced:
          type: string
          format: date-time
        source:
          type: string
        personId:
          type: integer
          format: int32
        entityExtraData1:
          type: string
        entityExtraData2:
          type: string
        entityExtraData3:
          type: string
        entityExtraData4:
          type: string
        entityExtraData5:
          type: string
        entitySortOrder:
          type: string
        localizedEntityName:
          type: string
        localizedEntityTypeName:
          type: string
        localizedRoleName:
          type: string
    PreApprovalLineItemUDATO:
      type: object
      properties:
        udaName:
          type: string
        id:
          type: string
        lineItemId:
          type: string
        userDefinedAttributeId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        stringValue:
          type: string
        numberValue:
          type: number
        currencyValue:
          type: number
        entityValue:
          $ref: '#/components/schemas/Entity'
        dateValue:
          type: string
          format: date-time
        booleanValue:
          type: boolean
        udaDataType:
          type: string
    PreApprovalV2TO:
      type: object
      properties:
        paHeaderId:
          type: string
        reportId:
          type: string
        reportTotalAmount:
          type: number
        payMeInCurrency:
          type: string
        currency:
          type: string
        reportApprovalAmount:
          type: number
        reportApprovalAmountCurrency:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        reportName:
          type: string
        reportStatus:
          type: string
        businessPurpose:
          type: string
        submitDate:
          type: string
          format: date-time
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        numImages:
          type: integer
          format: int32
        reportOwner:
          $ref: '#/components/schemas/Person'
        reportOwnerId:
          type: string
          description: PersonUniqueId of the owner of the report
        reportCreator:
          $ref: '#/components/schemas/Person'
        reportCreatorId:
          type: string
          description: PersonUniqueId of the creator of the report
        amountSpentApproved:
          type: number
        amountCustomer:
          type: number
        remainingAmount:
          type: number
        currencyCodeCustomer:
          type: string
        fromDate:
          type: string
          format: date-time
        toDate:
          type: string
          format: date-time
        manualExpirationDate:
          type: string
          format: date-time
        exchangeRateCustomer:
          type: string
        isAmountSpentApprovedSet:
          type: boolean
        isApprovedAmountAdjusted:
          type: boolean
        isActive:
          type: boolean
        statusExport:
          type: string
          enum:
          - EXP0
          - EXPF
        allocations:
          type: array
          deprecated: true
          items:
            $ref: '#/components/schemas/AllocationTO'
        preApprovalAllocations:
          type: array
          items:
            $ref: '#/components/schemas/PreApprovalAllocationTO'
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/PreApprovalLineItemV2TO'
        complianceItems:
          type: array
          items:
            $ref: '#/components/schemas/PreApprovalComplianceTO'
        udas:
          type: array
          items:
            $ref: '#/components/schemas/PreApprovalUdaTO'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/PreApprovalNoteTO'
        images:
          type: array
          items:
            type: string
    AllocationUDATO:
      type: object
      properties:
        udaName:
          type: string
        udaValue:
          type: string
    AllocationTO:
      type: object
      properties:
        allocationId:
          type: string
        description:
          type: string
        clientNumberParent:
          type: string
        clientName:
          type: string
        clientNumber:
          type: string
        type:
          type: string
        allocationUDAs:
          type: array
          items:
            $ref: '#/components/schemas/AllocationUDATO'
        udf1PersonCustomerUniqueId:
          type: string
        udf2PersonCustomerUniqueId:
          type: string
        udf3PersonCustomerUniqueId:
          type: string
        glaccount:
          type: string
        percent:
          type: number
        approvalAmount:
          type: number
        udf1:
          type: string
        udf2:
          type: string
        udf3:
          type: string
        udf4:
          type: string
    PreApprovalNoteTO:
      type: object
      properties:
        note:
          type: string
        createDate:
          type: string
          format: date-time
    PersonProfile:
      type: object
      properties:
        personProfileId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        profileData:
          type: string
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
    PALineItemAllocationReferenceTO:
      type: object
      properties:
        paLineItemAllocationId:
          type: string
        allocationSeg1:
          type: string
        allocationSeg2:
          type: string
        allocationSeg3:
          type: string
        allocationSeg4:
          type: string
        allocationSeg5:
          type: string
        allocationSeg6:
          type: string
        allocationSeg7:
          type: string
        allocationSeg8:
          type: string
        allocationSeg9:
          type: string
        allocationSeg10:
          type: string
        allocationSeg11:
          type: string
        allocationSeg12:
          type: string
        allocationSeg13:
          type: string
        allocationSeg14:
          type: string
        allocationSeg15:
          type: string
        allocationSeg16:
          type: string
    PersonAlternateEmailAddress:
      required:
      - emailAddress
      type: object
      properties:
        id:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/Person'
        emailAddress:
          type: string
        sequence:
          type: integer
          format: int32
        updateDate:
          type: string
          format: date-time
        createDate:
          type: string
          format: date-time
        validated:
          type: boolean
    PermissionV2:
      type: object
      properties:
        resourceCode:
          type: string
        actionCode:
          type: string
    PreApprovalLineItemAllocationTO:
      type: object
      properties:
        allocationId:
          type: integer
          description: This Id maps to the header level allocation Id
          format: int32
        costCodeOverride:
          type: string
        amountSpent:
          type: number
        percent:
          type: number
        allocationReferenceString:
          type: string
        allocationReference:
          $ref: '#/components/schemas/PALineItemAllocationReferenceTO'
    PersonEntityID:
      type: object
    PersonEntity:
      required:
      - customerId
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PersonEntityID'
        customerId:
          type: string
        entityID:
          type: integer
          format: int32
        personDelegateId:
          type: integer
          format: int32
        personId:
          type: integer
          format: int32
        personLoggedInId:
          type: integer
          format: int32
        active:
          type: boolean
        entity:
          $ref: '#/components/schemas/Entity'
    PreApprovalAllocationTO:
      type: object
      properties:
        allocationId:
          type: integer
          format: int32
        description:
          type: string
        matterNumber:
          type: string
        clientName:
          type: string
        clientNumber:
          type: string
        clientDescription:
          type: string
        entityCode1:
          type: integer
          format: int32
        entityCode2:
          type: integer
          format: int32
        percentage:
          type: number
        amountSpentApproved:
          type: number
        amountSpentConverted:
          type: number
        currencyCode:
          type: string
        udf1:
          type: string
        udf2:
          type: string
        udf3:
          type: string
        udf4:
          type: string
        entityField1:
          type: string
        entityField2:
          type: string
        entityField3:
          type: string
        glAccount:
          type: string
        type:
          type: string
        extraLineItemData1LegalValues:
          type: string
        isDeleted:
          type: boolean
        billable:
          type: boolean
