openapi: 3.2.0
info:
  title: Emburse Cards Transactions API
  version: 1.0.0
  description: Emburse Cards API enables the creation and management of virtual and physical spending cards at scale for custom business solutions and third-party integrations.
servers:
- url: https://api.emburse.com/v1
  description: Production API
- url: https://api.emburse-qa.com/v1
  description: QA API
security:
- BearerAuth: []
tags:
- name: Transactions
paths:
  /transactions:
    get:
      operationId: get_transactions
      description: ''
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: member
        required: false
        in: query
        description: member
        schema:
          type: string
      - name: category
        required: false
        in: query
        description: category
        schema:
          type: string
      - name: department
        required: false
        in: query
        description: department
        schema:
          type: string
      - name: location
        required: false
        in: query
        description: location
        schema:
          type: string
      - name: label
        required: false
        in: query
        description: label
        schema:
          type: string
      - name: before
        required: false
        in: query
        description: before
        schema:
          type: string
      - name: after
        required: false
        in: query
        description: after
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: exclude_declines
        required: false
        in: query
        description: exclude_declines
        schema:
          type: string
      - name: exclude_verifications
        required: false
        in: query
        description: exclude_verifications
        schema:
          type: string
      - name: ordering
        in: query
        required: false
        description: Order results by field. Prefix with - for descending order.
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - time
          - -time
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - results
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                    example: http://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                    example: http://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/APITransaction'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Transactions
  /transactions/{id}:
    get:
      operationId: get_transactions_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: member
        required: false
        in: query
        description: member
        schema:
          type: string
      - name: category
        required: false
        in: query
        description: category
        schema:
          type: string
      - name: department
        required: false
        in: query
        description: department
        schema:
          type: string
      - name: location
        required: false
        in: query
        description: location
        schema:
          type: string
      - name: label
        required: false
        in: query
        description: label
        schema:
          type: string
      - name: before
        required: false
        in: query
        description: before
        schema:
          type: string
      - name: after
        required: false
        in: query
        description: after
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: exclude_declines
        required: false
        in: query
        description: exclude_declines
        schema:
          type: string
      - name: exclude_verifications
        required: false
        in: query
        description: exclude_verifications
        schema:
          type: string
      - name: ordering
        in: query
        required: false
        description: Order results by field. Prefix with - for descending order.
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - time
          - -time
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APITransaction'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Transactions
    put:
      operationId: put_transactions_by_id
      description: Always perform a partial update.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: member
        required: false
        in: query
        description: member
        schema:
          type: string
      - name: category
        required: false
        in: query
        description: category
        schema:
          type: string
      - name: department
        required: false
        in: query
        description: department
        schema:
          type: string
      - name: location
        required: false
        in: query
        description: location
        schema:
          type: string
      - name: label
        required: false
        in: query
        description: label
        schema:
          type: string
      - name: before
        required: false
        in: query
        description: before
        schema:
          type: string
      - name: after
        required: false
        in: query
        description: after
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: exclude_declines
        required: false
        in: query
        description: exclude_declines
        schema:
          type: string
      - name: exclude_verifications
        required: false
        in: query
        description: exclude_verifications
        schema:
          type: string
      - name: ordering
        in: query
        required: false
        description: Order results by field. Prefix with - for descending order.
        schema:
          type: string
          enum:
          - created_at
          - -created_at
          - time
          - -time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APITransaction'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APITransaction'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Transactions
components:
  schemas:
    APITransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        url:
          type: string
          readOnly: true
        amount:
          type: string
          readOnly: true
        currency_code:
          type:
          - string
          - 'null'
          readOnly: true
          maxLength: 4
        foreign_amount:
          type: string
          readOnly: true
        foreign_currency_code:
          type:
          - string
          - 'null'
          readOnly: true
          maxLength: 3
        state:
          type: string
          readOnly: true
        response_code:
          type: string
          readOnly: true
        merchant:
          type: string
          readOnly: true
        vendor:
          type: string
          readOnly: true
        bank_account:
          type: string
          readOnly: true
        card:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            url:
              type: string
              readOnly: true
            state:
              type: string
              readOnly: true
            description:
              type: string
              readOnly: true
              maxLength: 255
            last_four:
              type: string
              readOnly: true
              pattern: ^[0-9]{4}$
              maxLength: 4
          required:
          - description
          - last_four
          readOnly: true
        is_online:
          type: boolean
          readOnly: true
        member:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            url:
              type: string
              readOnly: true
            email:
              type: string
              readOnly: true
            code:
              type:
              - string
              - 'null'
              readOnly: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            first_name:
              type: string
              readOnly: true
              maxLength: 255
            last_name:
              type: string
              readOnly: true
              maxLength: 255
          required:
          - first_name
          - last_name
          readOnly: true
        category:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type:
              - string
              - 'null'
              readOnly: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
        department:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type:
              - string
              - 'null'
              readOnly: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
        label:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type:
              - string
              - 'null'
              readOnly: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
        location:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              readOnly: true
              maxLength: 255
            code:
              type:
              - string
              - 'null'
              readOnly: true
              pattern: ^[0-9A-z\.\-]+$
              maxLength: 36
              minLength: 1
            parent:
              type: object
              properties: {}
              readOnly: true
            is_archived:
              type: boolean
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            url:
              type: string
              readOnly: true
          required:
          - name
          - parent
        note:
          type: string
          maxLength: 1000
        receipt:
          type: string
          readOnly: true
        attachments:
          type: string
          readOnly: true
        time:
          type: string
          format: date-time
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        posted_at:
          type: string
          format: date-time
          readOnly: true
        review_status:
          enum:
          - pending
          - approved
          - denied
          - out_of_policy
          - exempt
          type:
          - string
          - 'null'
          readOnly: true
        requisition:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          type: string
          readOnly: true
        purchase_details:
          type: object
          readOnly: true
      required:
      - time
      - created_at
      - posted_at
      - purchase_details
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token. Include in Authorization header: `Authorization: Bearer YOUR_ACCESS_TOKEN`'
