openapi: 3.0.0
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation Accounts Shared Links API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://service.chromeriver.com
tags:
- name: Shared Links
paths:
  /shared-links:
    get:
      operationId: get_shared_links
      description: ''
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                - results
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=400&limit=100
                  previous:
                    type: string
                    nullable: true
                    format: uri
                    example: http://api.example.org/accounts/?offset=200&limit=100
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/APISharedLink'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Shared Links
    post:
      operationId: post_shared_links
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APISharedLink'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APISharedLink'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Shared Links
  /shared-links/{id}:
    get:
      operationId: get_shared_links_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APISharedLink'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Shared Links
    put:
      operationId: put_shared_links_by_id
      description: Always perform a partial update.
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APISharedLink'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APISharedLink'
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Shared Links
    delete:
      operationId: delete_shared_links_by_id
      description: ''
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: card
        required: false
        in: query
        description: card
        schema:
          type: string
      - name: created_before
        required: false
        in: query
        description: created_before
        schema:
          type: string
      - name: created_after
        required: false
        in: query
        description: created_after
        schema:
          type: string
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: Bad Request - Invalid arguments or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '403':
          description: Forbidden - Insufficient permissions for this operation
        '404':
          description: Not Found - Resource does not exist
        '409':
          description: Conflict - Request conflicts with existing data
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error
      tags:
      - Shared Links
components:
  schemas:
    APISharedLink:
      type: object
      properties:
        card:
          type: object
          properties:
            id:
              type: string
              format: uuid
            url:
              type: string
              readOnly: true
            state:
              type: string
              readOnly: true
            description:
              type: string
              readOnly: true
              maxLength: 255
            last_four:
              type: string
              readOnly: true
              pattern: ^[0-9]{4}$
              maxLength: 4
          required:
          - description
          - last_four
        expires_at:
          type: string
          format: date-time
          nullable: true
        hide_balance:
          type: boolean
        id:
          type: string
          format: uuid
          readOnly: true
        last_viewed_at:
          type: string
          format: date-time
          readOnly: true
        link:
          type: string
          readOnly: true
        mode:
          type: string
          default: 1
        passphrase_fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 255
              value:
                type: string
                maxLength: 255
              type:
                type: string
            required:
            - name
            - value
            - type
          nullable: true
        recipient:
          type: string
          nullable: true
        url:
          type: string
          readOnly: true
      required:
      - card
      - last_viewed_at
