openapi: 3.2.0
info:
  title: Emburse Cards Merchant Categories API
  version: 1.0.0
  description: Emburse Cards API enables the creation and management of virtual and physical spending cards at scale for custom business solutions and third-party integrations.
servers:
- url: https://api.emburse.com/v1
  description: Production API
- url: https://api.emburse-qa.com/v1
  description: QA API
security:
- BearerAuth: []
tags:
- name: Merchant Categories
paths:
  /merchant-categories:
    get:
      operationId: get_merchant_categories
      description: 'List accepted merchant categories - internal endpoint for Cards Gateway

        For groups we add a stringified display of mcc included'
      parameters: []
      responses:
        '200':
          description: 'List of accepted merchant category codes (MCC). Each item is a 3-element array: [id, name, mcc_ranges_string].'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  description: 'A 3-element array: [0] id — MCC group or code identifier; [1] name — human-readable label; [2] mcc_ranges — stringified MCC ranges (e.g. "1-3, 5, 8-10"), empty string for individual codes.'
                  items:
                    type: string
                  minItems: 3
                  maxItems: 3
        '401':
          description: Unauthorized - Invalid or missing authentication token.
      tags:
      - Merchant Categories
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token. Include in Authorization header: `Authorization: Bearer YOUR_ACCESS_TOKEN`'
