openapi: 3.0.0
info:
  description: Api Documentation
  version: "1.0"
  title: Api Documentation
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
tags:
  - name: paid-expense-controller
    description: Post payments
paths:
  /v1/paid-expense:
    post:
      tags:
        - paid-expense-controller
      summary: Post a payment
      description: This web service allows an external application to post a payment.
      operationId: createPaidExpenseUsingPOST
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: false
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaidExpense"
        description: Paid expense to create
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Customer Code is invalid.
        "401":
          description: Customer Code is not authorized. Cannot post a payment.
        "503":
          description: Service unavailable.
      deprecated: false
  /v1/paid-expenses:
    post:
      tags:
        - paid-expense-controller
      summary: Post a collection of payments
      description: This web service allows an external application to post a
        collection of payments.
      operationId: createPaidExpensesUsingPOST
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PaidExpenseV2"
        description: paidExpenses
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Customer Code is invalid.
        "401":
          description: Customer Code is not authorized. Cannot post a payment.
        "503":
          description: Service unavailable.
      deprecated: false
servers:
  - url: https://service.chromeriver.com
components:
  schemas:
    PaidExpense:
      type: object
      properties:
        amount:
          type: number
          example: 15.25
          description: Voucher amount value.
        authorized:
          type: integer
          format: int32
          example: 1 or 0 or -1
          description: Identifies if direct-pay items need to be authorized before they
            are submitted for payment
        bankID:
          type: string
          example: 362
          description: Voucher paid bank account.
        checkNumber:
          type: string
          example: 1049
          description: Voucher paid check number
        currencyCode:
          type: string
          example: USD
          description: "Currency code of the Amount Spent value. Format: ISO 4217 code
            (alpha)."
        customerLastCreateDate:
          type: string
          format: date-time
          example: 2009-06-25 20:25:57:000
          description: If the field is used, we store the most recent
            customerLastCreateDate from the previous call. When we process the
            next call with a date equal to or prior to the date we stored will
            not be processed. This allows you to send the same record multiple
            times without having Chrome River process it multiple times.
        eventDriven:
          type: boolean
        paidDate:
          type: string
          format: date-time
          example: 2016-09-28 18:46:19:000
          description: "Date of Voucher Payment. Format: PaidDateMask. Defaults to the
            date the record was loaded into Chrome River if empty."
        paymentType:
          type: string
          example: REIM
          description: Payment type, either "FIRM" for firm paid item or "REIM" for
            reimbursement.
        voucherInvoice:
          type: string
          example: "0000000000000000"
          description: Voucher Invoice identifier of the expense that Chrome River sends
            in the export files.
      title: PaidExpense
    PaidExpenseV2:
      type: object
      properties:
        amount:
          type: number
          example: 15.25
          description: Voucher amount value.
        authorized:
          type: integer
          format: int32
          example: 1 or 0 or -1
          description: Identifies if direct-pay items need to be authorized before they
            are submitted for payment
        bankID:
          type: string
          example: 362
          description: Voucher paid bank account.
        checkNumber:
          type: string
          example: 1049
          description: Voucher paid check number
        currencyCode:
          type: string
          example: USD
          description: "Currency code of the Amount Spent value. Format: ISO 4217 code
            (alpha)."
        customerLastCreateDate:
          type: string
          format: date-time
          example: 2009-06-25 20:25:57:000
          description: If the field is used, we store the most recent
            customerLastCreateDate (in UTC) from the previous call. When we
            process the next call with a date equal to or prior to the date we
            stored will not be processed. This allows you to send the same
            record multiple times without having Chrome River process it
            multiple times.
        eventDriven:
          type: boolean
        lineNumber:
          type: string
          example: 1
          description: Line item's position within the report
        paidDate:
          type: string
          format: date-time
          example: 2016-09-28 18:46:19:000
          description: "Date (in UTC) of Voucher Payment. Format: PaidDateMask. Defaults
            to the date the record was loaded into Chrome River if empty."
        paymentType:
          type: string
          example: REIM
          description: Payment type, either "FIRM" for firm paid item or "REIM" for
            reimbursement.
        reportId:
          type: string
          example: DEV000000003
          description: Report ID of the report of the line item
      title: PaidExpenseV2
