openapi: 3.2.0
info:
  description: Api Documentation
  version: '1.0'
  title: Documentation Allocation API Controller V 1 API
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://service.chromeriver.com
tags:
- name: allocation-api-controller-v-1
paths:
  /v1/allocations:
    get:
      tags:
      - allocation-api-controller-v-1
      summary: Get list of allocation details
      description: This web service allows an external application to get list of allocation details
      operationId: getAllocationUsingGET
      parameters:
      - name: allocation-number
        in: query
        description: Unique allocation number
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: chain-id
        in: header
        description: Used for tracking the flow of the request
        required: false
        schema:
          type: string
      - name: client-number
        in: query
        description: Unique Client number
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: closed
        in: query
        description: Allocation is closed
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: deleted
        in: query
        description: Allocation is deleted
        required: false
        allowEmptyValue: false
        schema:
          type: boolean
      - name: page
        in: query
        description: Starting page number for getting parts of results
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Size of page for getting parts of results
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatterTO'
        '400':
          description: Customer Code is invalid.
        '401':
          description: Customer Code is not authorized.  Cannot get allocation details.
        '503':
          description: Service unavailable.
      deprecated: false
    post:
      tags:
      - allocation-api-controller-v-1
      summary: Create an allocation
      description: This web service allows an external application to create an allocation
      operationId: createAllocationV1UsingPOST
      parameters:
      - name: chain-id
        in: header
        description: Used for tracking the flow of the request
        required: false
        schema:
          type: string
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/MatterTO'
      responses:
        '200':
          description: Allocation successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatterTO'
        '400':
          description: Bad request. See returned message.
        '401':
          description: Unauthorized.
        '408':
          description: Request Expired.
        '503':
          description: Service unavailable.
      deprecated: false
    put:
      tags:
      - allocation-api-controller-v-1
      summary: Update an allocation
      description: This web service allows an external application to update an allocation
      operationId: updateAllocationV1UsingPUT
      parameters:
      - name: chain-id
        in: header
        description: Used for tracking the flow of the request
        required: false
        schema:
          type: string
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/MatterTO'
      responses:
        '200':
          description: Allocation successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatterTO'
        '400':
          description: Bad Request. See returned message.
        '401':
          description: Unauthorized.
        '408':
          description: Request Expired.
        '503':
          description: Service unavailable.
      deprecated: false
    delete:
      tags:
      - allocation-api-controller-v-1
      summary: Delete an allocation
      description: This web service allows an external application to delete an allocation
      operationId: deleteAllocationV1UsingDELETE
      parameters:
      - name: allocationNumber
        in: query
        description: Unique Allocation Number
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: chain-id
        in: header
        description: Used for tracking the flow of the request
        required: false
        schema:
          type: string
      - name: clientNumber
        in: query
        description: Unique Client Number
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: customer-code
        in: header
        description: Unique customer identifier provided by Chrome River
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: API key for Authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Allocation successfully deleted.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request. See returned message.
        '401':
          description: Unauthorized.
        '408':
          description: Request Expired.
        '503':
          description: Service unavailable.
      deprecated: false
components:
  schemas:
    MatterUDATO:
      type: object
      properties:
        action:
          type: string
          enum:
          - upsert
          - delete
        dataType:
          type: string
        name:
          type: string
        udaName:
          type: string
        udaValue:
          type: string
        value:
          type: string
      title: MatterUDATO
    MatterTO:
      type: object
      properties:
        action:
          type: string
          enum:
          - upsert
          - delete
        allocationEntities:
          type: array
          description: List of allocation entities.
          items:
            $ref: '#/components/schemas/EntityTO'
        allocationId:
          type: string
          example: 48008116
          description: Unique identifier for the allocation.
        allocationName:
          type: string
          example: Bank-NYC-Sales
          description: Corresponding Allocation name.
        allocationNumber:
          type: string
          example: '1000-20-50'
          description: Unique Allocation number.
        clientName:
          type: string
          example: TCC CHARGE
          description: Corresponding Client name.
        clientNumber:
          type: string
          example: '0001'
          description: Unique Client number.
        closedDate:
          type: string
          example: 2016-09-28 18:46:19:000
          description: Allocation is unavailable for selection after the closedDate.
        createSource:
          type: string
        currency:
          type: string
          example: USD
          description: 'Currency code of the Allocation. Format: ISO 4217 code (alpha)'
        currencyCode:
          type: string
        customerId:
          type: integer
          format: int32
        entity1:
          type: string
        entity2:
          type: string
        entity3:
          type: string
        extraLineItemData1LegalValues:
          type: string
        filterTerms1:
          type: array
          description: List of search terms used for 1st allocation filter.
          items:
            $ref: '#/components/schemas/Map_string_string_'
        filterTerms2:
          type: array
          description: List of search terms used for 2nd allocation filter.
          items:
            $ref: '#/components/schemas/Map_string_string_'
        glAccount:
          type: string
          example: '1000-20-50'
          description: General Ledger Account.
        isBillable:
          type: boolean
        languageCode:
          type: string
        locale:
          type: string
          example: en
          description: 'Language of the Allocation. Format: ISO 639-1 (2-letter code)'
        onSelect1EntityTypeCode:
          type: string
          example: false
          description: Entity Type that will be linked to the allocation On Select 1.
        onSelect2EntityTypeCode:
          type: string
          example: DEP
          description: Entity Type that will be linked to the allocation On Select 2.
        parentClientNumber:
          type: string
          example: 10001
          description: Optional Parent Grouping Identifier.
        project:
          type: string
          example: XYZ
          description: Used for General Ledger Project Mapping.
        routeIndependent:
          type: boolean
          example: true
          description: Assigns the status of a allocation to treat uniquely when it is considered billable.
        search1:
          type: string
        search2:
          type: string
        startDate:
          type: string
          example: 2016-09-28 18:46:19:000
          description: Allocation is available for selection from the startDate.
        type:
          type: string
          example: GL
          description: Allocation type.
        udaPersons:
          type: array
          description: List of PersonUniqueIDs used for allocation assignment.
          items:
            $ref: '#/components/schemas/PersonTO'
        udas:
          type: array
          description: List of User Defined Attributes.
          items:
            $ref: '#/components/schemas/MatterUDATO'
        udf1:
          type: string
        udf1PersonUniqueID:
          type: string
        udf2:
          type: string
        udf2PersonUniqueID:
          type: string
        udf3:
          type: string
        udf3PersonUniqueID:
          type: string
        udf4:
          type: string
      title: MatterTO
    EntityTypeTO:
      type: object
      properties:
        code:
          type: string
        entityTypeId:
          type: integer
          format: int32
        name:
          type: string
      title: EntityTypeTO
    EntityTO:
      type: object
      properties:
        code:
          type: string
        entityId:
          type: integer
          format: int32
        entityType:
          $ref: '#/components/schemas/EntityTypeTO'
        extraData1:
          type: string
        extraData2:
          type: string
        extraData3:
          type: string
        extraData4:
          type: string
        extraData5:
          type: string
        name:
          type: string
        order:
          type: integer
          format: int32
      title: EntityTO
    PersonTO:
      type: object
      properties:
        name:
          type: string
        personId:
          type: string
      title: PersonTO
    Map_string_string_:
      type: object
      title: Map«string,string»
      additionalProperties:
        type: string
  requestBodies:
    MatterTO:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MatterTO'
      description: matterTO
      required: true
