openapi: 3.0.1
info:
  title: PreApproval API Documentation
  description: API for managing pre-approval reports and workflows
  contact:
    name: Chrome River Technologies
    url: https://www.chromeriver.com/contact
    email: info@chromeriver.com
  version: v1.0
servers:
  - url: https://service.chromeriver.com
    description: PreApproval API Development Server
paths:
  "/v2/preapproval-reports/{reportId}/notes":
    post:
      tags:
        - pre-approval-api-controller-v-2
      summary: Add note to a Pre-Approval Report
      description: This web service allows an external application to add a note to a
        Pre-Approval Report
      operationId: addNote
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: reportId
          in: path
          description: Report ID for pre-approval report
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreApprovalNoteTO"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalNoteTO"
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized. Cannot add comment to Pre-Approval
            Report.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user does not exist
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Pre-Approval Report does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v1/preapproval-reports:
    post:
      tags:
        - pre-approval-import-controller
      summary: Create a draft/approved PreApproval report
      description: This service allows an external application to create a
        pre-approval report in DRAFT/APPROVED status
      operationId: createPreApproval
      parameters:
        - name: chain-id
          in: header
          description: Reference used to track the flow of the request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "201":
          description: PreApproval report created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalImportOutput"
        "400":
          description: Customer Code is invalid. / Unprocessable input payload.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  "/v1/preapproval-reports/{reportId}/return":
    post:
      tags:
        - pre-approval-api-controller
      summary: Return a pre-approval report
      description: This web service allows an external application to return the
        specified pre-approval report to the expense owner
      operationId: returnPreApproval
      parameters:
        - name: reportId
          in: path
          description: Report ID for report
          required: true
          schema:
            type: string
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user is not authorized to return report or Logged in user
            does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  "/v1/preapproval-reports/{reportId}/reassign":
    post:
      tags:
        - pre-approval-api-controller
      summary: Reassign a pre-approval report
      description: This web service allows an external application to reassign a
        specified pre-approval report to another approver for review
      operationId: reassignPreApproval
      parameters:
        - name: reportId
          in: path
          description: Report ID for report
          required: true
          schema:
            type: string
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.  Cannot reassign PreApproval report.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user is not authorized to reassign PreApproval or Logged
            in user does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  "/v1/preapproval-reports/{reportId}/approve":
    post:
      tags:
        - pre-approval-api-controller
      summary: Approve a pre-approval report
      description: This web service allows an external application to approve the
        specified pre-approval report
      operationId: approvePreApproval
      parameters:
        - name: reportId
          in: path
          description: Report ID for report
          required: true
          schema:
            type: string
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user is not authorized to approve report or Logged in
            user does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v1/preapproval-exports:
    post:
      tags:
        - pre-approval-api-export-controller
      summary: Begin PreApproval Export for a customer
      description: This web service allows an external application to begin a
        PreApproval Export by Customer
      operationId: createPreApprovalExport
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Created
          headers:
            export-id:
              description: Export ID
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  "/v1/preapproval-exports/{exportId}/close-export-request":
    post:
      tags:
        - pre-approval-api-export-controller
      summary: Complete PreApproval Export for a customer
      description: This web service allows an external application to complete a
        PreApproval Export by Export Id
      operationId: completePreApprovalExport
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: file-name
          in: header
          description: The export file name to be assigned to export
          required: false
          schema:
            type: string
        - name: exportId
          in: path
          description: Export ID to be completed
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            end-time:
              description: End time
              style: simple
              schema:
                type: string
            export-id:
              description: Export ID
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v1/preapproval-exports/export-request:
    post:
      tags:
        - pre-approval-api-export-controller
      summary: Get Next Available PreApproval Export ID
      description: This web service allows an external application to request the next
        available PreApproval export ID available for export
      operationId: getNextAvailablePreApprovalExport
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: integrationType
          in: query
          description: The integration type of the PreApproval Export
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: string
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: string
  "/v2/preapproval-reports/{reportId}":
    get:
      tags:
        - pre-approval-api-controller-v-2
      summary: Get pre-approval report
      description: This web service allows an external application to retrieve
        pre-approval report by ReportId
      operationId: getPreapprovalReport
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: reportId
          in: path
          description: Identifier for the pre-approval report.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalV2TO"
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized. Cannot add comment to Pre-Approval
            Report.
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Report with provided reportId does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  "/v2/preapproval-report-approvals/{reportId}":
    get:
      tags:
        - pre-approval-api-controller-v-2
      summary: Get pre-approval report details
      description: This web service allows an external application to get the details
        of Pre-Approval Report
      operationId: getPreApproval
      parameters:
        - name: reportId
          in: path
          description: Report ID for pre-approval report
          required: true
          schema:
            type: string
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalV2TO"
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized. Cannot get details of Pre-Approval
            Report.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user is not allowed to view details Pre-Approval Report
            or Logged in user does not exist
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Pre-Approval Report does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v1/preapproval-reports/itemType:
    get:
      tags:
        - pre-approval-api-controller
      summary: Get PALineItem Type information for expense Type
      description: This web service allows an external application to get PALineItem
        type information by expense Type
      operationId: getPreApprovalLineItemType
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: expense-item-type
          in: query
          description: Expense Type to get PALineItem type information
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v1/preapproval-report-approved:
    get:
      tags:
        - pre-approval-api-controller
      summary: Get list of pre-approval reports that have been approved but not yet
        exported
      description: This web service allows an external application to get a list of
        pre-approval reports that have been approved but not yet exported
      operationId: getPreApprovalsApprovedDBPagination
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page number for response pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - name: page-size
          in: query
          description: Page size for response pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 6
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v1/preapproval-report-approvals:
    get:
      tags:
        - pre-approval-api-controller
      summary: Get list of pre-approval reports for approval
      description: This web service allows an external application to get a list of
        pre-approval reports awaiting approval by a user
      operationId: getPreApprovalApprovals
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  "/v1/preapproval-report-approvals/{reportId}":
    get:
      tags:
        - pre-approval-api-controller
      summary: Get pre-approval report details
      description: This web service allows an external application to get the details
        of pre-approval report
      operationId: getPreApproval_1
      parameters:
        - name: reportId
          in: path
          description: Report ID for pre-approval report
          required: true
          schema:
            type: string
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: lockable
          in: query
          description: Indicates whether a report is lockable for 15 minutes or not
          required: false
          schema:
            type: boolean
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user is not allowed to view details pre-approval report
            or Logged in user does not exist
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Pre-Approval Report does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  /v1/preapproval-report-approvals/count:
    get:
      tags:
        - pre-approval-api-controller
      summary: Get count of pre-approval reports for approval
      description: This web service allows an external application to a count of
        pre-approval reports awaiting approval by auser
      operationId: getPreApprovalCount
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: logged-in-user-id
          in: header
          description: Unique ID for the approver logged in making request
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Customer Code is invalid
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Logged in user does not exist.
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                type: object
  "/v1/preapproval-exports/{exportId}":
    get:
      tags:
        - pre-approval-api-export-controller
      summary: Get PreApproval Data for Export
      description: This web service allows an external application to retrieve
        PreApproval Export Data by Export Id
      operationId: getPreApprovalHeadersByExport
      parameters:
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: exportId
          in: path
          description: Export ID to be completed
          required: true
          schema:
            type: string
        - name: page-size
          in: query
          description: Used to get the number of PreApprovals per page. Defaults to all
            PreApprovals
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: page
          in: query
          description: The page on which to start viewing. Defaults to the first page
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalExport"
        "400":
          description: Customer Code is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalExport"
        "401":
          description: Customer Code is not authorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalExport"
        "503":
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreApprovalExport"
  "/v1/preapproval-reports/{reportId}":
    delete:
      tags:
        - pre-approval-api-controller
      summary: Delete a pre-approval
      description: This web service allows an external application to delete a pre-approval
      operationId: deletePreApproval
      parameters:
        - name: reportId
          in: path
          description: Report ID for pre-approval
          required: true
          schema:
            type: string
        - name: chain-id
          in: header
          description: Used for tracking the flow of the request
          required: true
          schema:
            type: string
        - name: expense-owner-id
          in: header
          description: Unique ID of the expense-owner
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: API key for Authentication
          required: true
          schema:
            type: string
        - name: customer-code
          in: header
          description: Unique customer identifier provided by Chrome River
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Delete successful
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Customer Code is invalid
          content:
            application/json:
              schema:
                type: object
        "401":
          description: Customer Code is not authorized
          content:
            application/json:
              schema:
                type: object
        "403":
          description: Forbidden operation
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Pre-Approval does not exist
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    PreApprovalNoteTO:
      type: object
      properties:
        note:
          type: string
        createDate:
          type: string
          format: date-time
    PreApprovalImportOutput:
      required:
        - reportReference
      type: object
      properties:
        reportReference:
          type: string
          description: Reference number for newely created pre-approval report
    AllocationTO:
      type: object
      properties:
        allocationId:
          type: string
        description:
          type: string
        clientNumberParent:
          type: string
        clientName:
          type: string
        clientNumber:
          type: string
        type:
          type: string
        allocationUDAs:
          type: array
          items:
            $ref: "#/components/schemas/AllocationUDATO"
        udf1PersonCustomerUniqueId:
          type: string
        udf2PersonCustomerUniqueId:
          type: string
        udf3PersonCustomerUniqueId:
          type: string
        glaccount:
          type: string
        percent:
          type: number
        approvalAmount:
          type: number
        udf1:
          type: string
        udf2:
          type: string
        udf3:
          type: string
        udf4:
          type: string
    AllocationUDATO:
      type: object
      properties:
        udaName:
          type: string
        udaValue:
          type: string
    Entity:
      required:
        - active
        - code
        - customerId
        - name
        - sortOrder
      type: object
      properties:
        entityID:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        name:
          type: string
        code:
          type: string
        active:
          type: boolean
        extraData1:
          type: string
        extraData2:
          type: string
        extraData3:
          type: string
        extraData4:
          type: string
        extraData5:
          type: string
        createSource:
          type: string
        personLoggedInID:
          type: integer
          format: int32
        personDelegateID:
          type: integer
          format: int32
        updateDate:
          type: string
          format: date-time
        sortOrder:
          type: string
        entityTypeID:
          type: integer
          format: int32
        entityTypeCode:
          type: string
        personEntities:
          type: array
          items:
            $ref: "#/components/schemas/PersonEntity"
        entityLanguages:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/EntityLanguage"
        dnd:
          type: boolean
    EntityLanguage:
      required:
        - createDate
        - customerId
        - entityId
        - languageId
        - name
        - updateDate
      type: object
      properties:
        entityLanguageId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        name:
          type: string
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        locale:
          type: string
        entity:
          $ref: "#/components/schemas/Entity"
    PALineItemAllocationReferenceTO:
      type: object
      properties:
        paLineItemAllocationId:
          type: string
        allocationSeg1:
          type: string
        allocationSeg2:
          type: string
        allocationSeg3:
          type: string
        allocationSeg4:
          type: string
        allocationSeg5:
          type: string
        allocationSeg6:
          type: string
        allocationSeg7:
          type: string
        allocationSeg8:
          type: string
        allocationSeg9:
          type: string
        allocationSeg10:
          type: string
        allocationSeg11:
          type: string
        allocationSeg12:
          type: string
        allocationSeg13:
          type: string
        allocationSeg14:
          type: string
        allocationSeg15:
          type: string
        allocationSeg16:
          type: string
    PermissionV2:
      type: object
      properties:
        resourceCode:
          type: string
        actionCode:
          type: string
    Person:
      required:
        - createDate
        - currencyCode1
        - currencyMask
        - customerId
        - customerUniqueId
        - dateFormatMask
        - emailAddress
        - emailFormat
        - expenseBarID
        - firstName
        - isCopyingItems
        - isFirmReporting
        - isSuperDelegate
        - languageId
        - lastName
        - personStatusId
        - updateDate
        - useOnline
        - username
      type: object
      properties:
        personId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        alternateEmails:
          type: array
          items:
            $ref: "#/components/schemas/PersonAlternateEmailAddress"
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
        customerUniqueId:
          type: string
        reportsToPersonId:
          type: integer
          format: int32
        emailAddress:
          type: string
        personStatusId:
          type: string
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
        title:
          type: string
        carPlanId:
          type: integer
          format: int32
        carPlanTierId:
          type: integer
          format: int32
        currencyCode1:
          type: string
        vendor1:
          type: string
        currencyCode2:
          type: string
        vendor2:
          type: string
        dateFormatMask:
          type: string
        currencyMask:
          type: string
        expenseBarID:
          type: integer
          format: int32
        country_Alpha2:
          type: string
        interactionUserID:
          type: string
        interactionAccountName:
          type: string
        isCopyingItems:
          type: boolean
        isFirmReporting:
          type: boolean
        isSuperDelegate:
          type: boolean
        useOnline:
          type: boolean
        languageId:
          type: integer
          format: int32
        alternateCurrencyCodes:
          type: string
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        emailFormat:
          type: string
        isModifiable:
          type: boolean
        analyticsUserType:
          type: string
          enum:
            - "NULL"
            - U99
            - U01
            - U02
            - U03
            - U04
        analyticsModules:
          type: string
          enum:
            - "NULL"
            - M01
            - M02
            - M03
            - M04
            - M05
            - M06
            - M07
            - M08
            - M09
            - M10
        analyticsView:
          type: string
          enum:
            - "NULL"
            - V01
            - V02
            - V03
            - V04
            - V05
            - V06
            - V07
            - V08
            - V09
            - V10
        isAdmin:
          type: boolean
        phoneNumber:
          type: string
        personalDistanceDefault:
          type: number
          format: double
        personalDistanceCostDefault:
          type: number
          format: double
        createSource:
          type: string
        personLoggedInID:
          type: integer
          format: int32
        personDelegateID:
          type: integer
          format: int32
        personUDAs:
          type: array
          items:
            $ref: "#/components/schemas/PersonUDA"
        personProfile:
          $ref: "#/components/schemas/PersonProfile"
        statusDirectPay:
          type: string
          enum:
            - ACT
            - NONE
        personResourceId:
          type: string
        personEntities:
          type: array
          items:
            $ref: "#/components/schemas/PersonEntityV2"
        reportsToPerson:
          $ref: "#/components/schemas/Person"
        reportsToPersonName:
          type: string
        password:
          type: string
        password5702:
          type: string
        company:
          type: string
        companyId:
          type: string
        defaultApplication:
          type: string
          enum:
            - "1"
            - "2"
            - "3"
        mobileDeviceLogin:
          type: boolean
        loginMethod:
          type: string
          enum:
            - CHROME_DB
            - LDAP
            - CHROME_SSO
            - SAML_SSO
            - RADIUS_SSO
        currentLandingApps:
          type: array
          items:
            type: string
            enum:
              - "1"
              - "2"
              - "3"
        loginLocale:
          type: string
        mongoConf:
          type: string
        enableAnalytics:
          type: boolean
        crSsoPasswordOriginal:
          type: string
        encryptedPassword:
          type: string
        encryptedUsername:
          type: string
        encryptedCompanyId:
          type: string
        locationCodeForVat:
          type: string
        saveOnSelectExpenseTypeNames:
          type: string
        locationCodeForPerDiem:
          type: string
        locationCodeForPAPerDiem:
          type: string
        alternateEmailAddress1:
          type: string
        alternateEmailAddress2:
          type: string
        alternateEmailAddress3:
          type: string
        expenseBarCode:
          type: string
        distanceUnit:
          type: string
        crmNumber:
          type: string
        npi:
          type: integer
          format: int32
        providerBusinessMailingAddressCityName:
          type: string
        providerBusinessMailingAddressStateName:
          type: string
        specialty:
          type: string
        healthCareProviderId:
          type: integer
          format: int32
        enablePlatinumLinkInsideApp:
          type: boolean
        motdType:
          type: string
        enableGetDeparted:
          type: boolean
        isConfigurationEnabled:
          type: boolean
          writeOnly: true
        enableInvoiceMgmtGrid:
          type: boolean
        invoiceBarType:
          type: string
        invoiceOCRConfidenceThreshold:
          type: number
        poBarType:
          type: string
        esPersonSearchMap:
          type: object
          additionalProperties:
            type: object
        esPersonSearchQuery:
          type: string
        esPersonSearchQueryExclusion:
          type: string
        companyWideFeedIds:
          type: array
          items:
            type: integer
            format: int32
        enableMatterOnSelectES:
          type: boolean
        enableBulkAdd:
          type: boolean
        displayAmexRealtimeNotifications:
          type: boolean
        usBankRealTimeNotificationsEnabled:
          type: boolean
        emburseRealTimeNotificationsEnabled:
          type: boolean
        displayAdminConsole:
          type: boolean
        isUIAdmin:
          type: boolean
        isSuperAdmin:
          type: boolean
        displayReconciliation:
          type: boolean
        displayReAssignButton:
          type: boolean
        displayReAssignButtonHeaderOnly:
          type: boolean
        hideApproverReturnOnLineItem:
          type: boolean
        hideApproverAdjustOnLineItem:
          type: boolean
        usingXmlUploadButton:
          type: boolean
        usingEastEuroPerDiem:
          type: boolean
        usingSalesforce:
          type: boolean
        displayImportFromPaCheckbox:
          type: boolean
        displayImportPerDiemMileageFromPaCheckbox:
          type: boolean
        defaultCheckedPaCheckbox:
          type: boolean
        paPerDiemTimePickerEnabled:
          type: boolean
        showFxRateSelectorInWizard:
          type: boolean
        hideOwnerTotalPayMeAmount:
          type: boolean
        languageLocale:
          type: string
        enableTravelBooking:
          type: boolean
        enableMultipleApprovalDelegates:
          type: boolean
        travelBookingURL:
          type: string
        openTravelBookingInNewTab:
          type: boolean
        alternateEmailAddresses:
          type: array
          items:
            type: string
        disableRecall:
          type: boolean
        disableGoogleMapsRouteChanges:
          type: boolean
        enableExpirePA:
          type: boolean
        useExpense:
          type: boolean
        enableExpenseManagement:
          type: boolean
        usingCrmAllocationAccountOnly:
          type: boolean
        useProsper:
          type: boolean
        delegateBankAccountEnabled:
          type: boolean
        sessionTimeoutInMinutes:
          type: integer
          format: int32
        enableProfileCardPrivateComments:
          type: boolean
        enableNegativePerDiemAmount:
          type: boolean
        enableInterActionContactSearch:
          type: boolean
        membershipAccountEnabled:
          type: boolean
        enableCopyingPA:
          type: boolean
        isVatApprover:
          type: boolean
        isRiskApprover:
          type: boolean
        personalCreditCardEnabled:
          type: boolean
        personalChargesEnabled:
          type: boolean
        hideStatementPaidValues:
          type: boolean
        perDiemConfigurationType:
          type: string
        hideLogoutOption:
          type: boolean
        enableLineItemBulkEditAllocation:
          type: boolean
        showRoutingRuleDescription:
          type: boolean
        permissions:
          type: array
          items:
            $ref: "#/components/schemas/PermissionV2"
        fullName:
          type: string
        udf1:
          type: string
        udf2:
          type: string
        udf3:
          type: string
        germanPerDiemUser:
          type: boolean
        configurationEnabled:
          type: boolean
        usingPreApproval:
          type: boolean
        usingInvoice:
          type: boolean
        bankAccountEnabled:
          type: boolean
        usingCarPlan:
          type: boolean
        perDiemTimePickerEnabled:
          type: boolean
        usingPAExpenseMappingForApply:
          type: boolean
        dnd:
          type: boolean
        decryptedPhoneNumber:
          type: string
        emailPreference:
          type: string
          enum:
            - HTML
            - TEX1
        isInvoiceApprovalPreviewOnly:
          type: boolean
        isInvoicePriorPreviewOnly:
          type: boolean
        isInvoiceManagementPreviewOnly:
          type: boolean
        isBulkSubmitEnabled:
          type: boolean
        isRecallInvoiceEnabled:
          type: boolean
        isInvoiceSubmitToOcrEnabled:
          type: boolean
        isInvoiceCreditCardEnabled:
          type: boolean
        isInvoiceChargeTypeEnabled:
          type: boolean
        isInvoiceDefaultLineItemTaxCodeDisabled:
          type: boolean
        isInvoiceOCREnabled:
          type: boolean
        isInvoiceGLFilterEnabled:
          type: boolean
        isInvoiceConvertTemplatesDisabled:
          type: boolean
        isUsingPo:
          type: boolean
        isPoManagementGridEnabled:
          type: boolean
        isPoApprovalPreviewOnly:
          type: boolean
        isPoPriorPreviewOnly:
          type: boolean
        isPoManagementPreviewOnly:
          type: boolean
        isPoBulkSubmitEnabled:
          type: boolean
        isPoRecallEnabled:
          type: boolean
        isPoSubmitToOcrEnabled:
          type: boolean
        isPoReceivingScreenEnabled:
          type: boolean
    PersonAlternateEmailAddress:
      required:
        - emailAddress
      type: object
      properties:
        id:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        person:
          $ref: "#/components/schemas/Person"
        emailAddress:
          type: string
        sequence:
          type: integer
          format: int32
        updateDate:
          type: string
          format: date-time
        createDate:
          type: string
          format: date-time
        validated:
          type: boolean
    PersonEntity:
      required:
        - customerId
      type: object
      properties:
        id:
          $ref: "#/components/schemas/PersonEntityID"
        customerId:
          type: string
        entityID:
          type: integer
          format: int32
        personDelegateId:
          type: integer
          format: int32
        personId:
          type: integer
          format: int32
        personLoggedInId:
          type: integer
          format: int32
        active:
          type: boolean
        entity:
          $ref: "#/components/schemas/Entity"
    PersonEntityExport:
      type: object
      properties:
        roleName:
          type: string
        entityType:
          type: string
        entity:
          type: string
      description: "Simplified Person Entity with only three fields: RoleName,
        EntityType, and Entity"
    PersonEntityID:
      type: object
    PersonEntityV2:
      type: object
      properties:
        id:
          type: integer
          format: int32
        person:
          $ref: "#/components/schemas/Person"
        customerId:
          type: integer
          format: int32
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        entityCode:
          type: string
        entityStatus:
          type: boolean
        entityTypeId:
          type: integer
          format: int32
        entityTypeName:
          type: string
        entityTypeCode:
          type: string
        entityTypeIsUsedInRules:
          type: boolean
        entityTypeDesc:
          type: string
        entityTypeStatus:
          type: boolean
        roleId:
          type: integer
          format: int32
        roleName:
          type: string
        roleIsUsedInRules:
          type: boolean
        roleDescription:
          type: string
        active:
          type: boolean
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        fromDate:
          type: string
          format: date-time
        toDate:
          type: string
          format: date-time
        dateReplaced:
          type: string
          format: date-time
        source:
          type: string
        personId:
          type: integer
          format: int32
        entityExtraData1:
          type: string
        entityExtraData2:
          type: string
        entityExtraData3:
          type: string
        entityExtraData4:
          type: string
        entityExtraData5:
          type: string
        entitySortOrder:
          type: string
        localizedEntityName:
          type: string
        localizedEntityTypeName:
          type: string
        localizedRoleName:
          type: string
    PersonProfile:
      type: object
      properties:
        personProfileId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        person:
          $ref: "#/components/schemas/Person"
        profileData:
          type: string
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
    PersonUDA:
      required:
        - createDate
        - customerID
        - updateDate
        - userDefinedAttributeID
      type: object
      properties:
        personUdaID:
          type: integer
          format: int32
        person:
          $ref: "#/components/schemas/Person"
        userDefinedAttributeID:
          type: integer
          format: int32
        customerID:
          type: integer
          format: int32
        stringValue:
          type: string
        booleanValue:
          type: boolean
        entityValue:
          type: integer
          format: int32
        dateValue:
          type: string
          format: date-time
        currencyValue:
          type: number
        numberValue:
          type: number
        isDeleted:
          type: boolean
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        udaName:
          type: string
        udaValue:
          type: string
        userDefinedAttributeValue:
          type: string
          writeOnly: true
    PreApprovalAllocationTO:
      type: object
      properties:
        allocationId:
          type: integer
          format: int32
        description:
          type: string
        matterNumber:
          type: string
        clientName:
          type: string
        clientNumber:
          type: string
        clientDescription:
          type: string
        entityCode1:
          type: integer
          format: int32
        entityCode2:
          type: integer
          format: int32
        percentage:
          type: number
        amountSpentApproved:
          type: number
        amountSpentConverted:
          type: number
        currencyCode:
          type: string
        udf1:
          type: string
        udf2:
          type: string
        udf3:
          type: string
        udf4:
          type: string
        entityField1:
          type: string
        entityField2:
          type: string
        entityField3:
          type: string
        glAccount:
          type: string
        type:
          type: string
        extraLineItemData1LegalValues:
          type: string
        isDeleted:
          type: boolean
        billable:
          type: boolean
    PreApprovalComplianceTO:
      type: object
      properties:
        description:
          type: string
        response:
          type: string
    PreApprovalLineItemAllocationTO:
      type: object
      properties:
        allocationId:
          type: integer
          description: This Id maps to the header level allocation Id
          format: int32
        costCodeOverride:
          type: string
        amountSpent:
          type: number
        percent:
          type: number
        allocationReferenceString:
          type: string
        allocationReference:
          $ref: "#/components/schemas/PALineItemAllocationReferenceTO"
    PreApprovalLineItemAllocationV2TO:
      type: object
      properties:
        allocationId:
          type: string
          description: This Id maps to the allocation unique Id
        costCodeOverride:
          type: string
        amountSpent:
          type: number
        percent:
          type: number
      description: These line item allocations map to the header allocation but
        provide the CostCodeOverride field
    PreApprovalLineItemUDATO:
      type: object
      properties:
        udaName:
          type: string
        id:
          type: string
        lineItemId:
          type: string
        userDefinedAttributeId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        stringValue:
          type: string
        numberValue:
          type: number
        currencyValue:
          type: number
        entityValue:
          $ref: "#/components/schemas/Entity"
        dateValue:
          type: string
          format: date-time
        booleanValue:
          type: boolean
        udaDataType:
          type: string
    PreApprovalLineItemV2TO:
      type: object
      properties:
        id:
          type: string
        approvalAmount:
          type: number
        typeName:
          type: string
        typeDisplayName:
          type: string
        amountSpent:
          type: number
        description:
          type: string
        xmlUdfData:
          type: array
          items:
            $ref: "#/components/schemas/Uda"
        externalRef:
          type: string
        isPerDiem:
          type: boolean
        lineItemTypeId:
          type: integer
          description: Line Item Type Id mapping to the set of PA Line Item Types
          format: int32
        transactionDate:
          type: string
          format: date-time
        udas:
          type: array
          items:
            $ref: "#/components/schemas/PreApprovalLineItemUDATO"
        allocations:
          type: array
          items:
            $ref: "#/components/schemas/PreApprovalLineItemAllocationTO"
        lineItemAllocations:
          type: array
          description: These line item allocations map to the header allocation but
            provide the CostCodeOverride field
          items:
            $ref: "#/components/schemas/PreApprovalLineItemAllocationV2TO"
    PreApprovalUdaTO:
      type: object
      properties:
        udaName:
          type: string
        stringValue:
          type: string
        numberValue:
          type: number
        currencyValue:
          type: number
        entityValue:
          $ref: "#/components/schemas/Entity"
        dateValue:
          type: string
          format: date-time
        booleanValue:
          type: boolean
        udaDataType:
          type: string
    PreApprovalV2TO:
      type: object
      properties:
        paHeaderId:
          type: string
        reportId:
          type: string
        reportTotalAmount:
          type: number
        payMeInCurrency:
          type: string
        currency:
          type: string
        reportApprovalAmount:
          type: number
        reportApprovalAmountCurrency:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        reportName:
          type: string
        reportStatus:
          type: string
        businessPurpose:
          type: string
        submitDate:
          type: string
          format: date-time
        createDate:
          type: string
          format: date-time
        updateDate:
          type: string
          format: date-time
        numImages:
          type: integer
          format: int32
        reportOwner:
          $ref: "#/components/schemas/Person"
        reportOwnerId:
          type: string
          description: PersonUniqueId of the owner of the report
        reportCreator:
          $ref: "#/components/schemas/Person"
        reportCreatorId:
          type: string
          description: PersonUniqueId of the creator of the report
        amountSpentApproved:
          type: number
        amountCustomer:
          type: number
        remainingAmount:
          type: number
        currencyCodeCustomer:
          type: string
        fromDate:
          type: string
          format: date-time
        toDate:
          type: string
          format: date-time
        manualExpirationDate:
          type: string
          format: date-time
        exchangeRateCustomer:
          type: string
        isAmountSpentApprovedSet:
          type: boolean
        isApprovedAmountAdjusted:
          type: boolean
        isActive:
          type: boolean
        statusExport:
          type: string
          enum:
            - EXP0
            - EXPF
        allocations:
          type: array
          deprecated: true
          items:
            $ref: "#/components/schemas/AllocationTO"
        preApprovalAllocations:
          type: array
          items:
            $ref: "#/components/schemas/PreApprovalAllocationTO"
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/PreApprovalLineItemV2TO"
        complianceItems:
          type: array
          items:
            $ref: "#/components/schemas/PreApprovalComplianceTO"
        udas:
          type: array
          items:
            $ref: "#/components/schemas/PreApprovalUdaTO"
        notes:
          type: array
          items:
            $ref: "#/components/schemas/PreApprovalNoteTO"
        images:
          type: array
          items:
            type: string
    Uda:
      type: object
      properties:
        userDefinedAttributeId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        stringValue:
          type: string
        numberValue:
          type: number
        currencyValue:
          type: number
        entityValue:
          $ref: "#/components/schemas/Entity"
        entityValueInt:
          type: integer
          format: int32
        dateValue:
          type: string
          format: date-time
        boolValue:
          type: boolean
        udaDataType:
          type: string
          enum:
            - BooleanValue
            - CurrencyValue
            - DateValue
            - EntityValue
            - NumberValue
            - StringValue
            - DecimalValue
        xmlElement:
          type: string
        udaName:
          type: string
        personStandardScreenLabel:
          type: string
    PAAllocationTO:
      type: object
      properties:
        allocationId:
          type: string
        description:
          type: string
        allocationNumber:
          type: string
        clientName:
          type: string
        clientNumber:
          type: string
        udas:
          type: array
          items:
            $ref: "#/components/schemas/AllocationUDATO"
      description: Set of Allocations associated with the above set of PreApproval Reports
    PAEntityTO:
      type: object
      properties:
        entityId:
          type: integer
          format: int32
        entityName:
          type: string
        entityCode:
          type: string
        extraData1:
          type: string
        extraData2:
          type: string
        extraData3:
          type: string
        extraData4:
          type: string
        extraData5:
          type: string
      description: Set of Entities associated with the above set of PreApproval Reports
    PAHeaderAllocationTO:
      type: object
      properties:
        allocationId:
          type: string
        description:
          type: string
        entityId1:
          type: integer
          format: int32
        entityId2:
          type: integer
          format: int32
        percentage:
          type: number
        amountSpentApproved:
          type: number
        amountSpentConverted:
          type: number
        udaName:
          type: string
        udaValue:
          type: string
    PAHeaderTO:
      type: object
      properties:
        paHeaderId:
          type: string
        reportId:
          type: string
        reportOwnerId:
          type: string
        reportCreatorId:
          type: string
        reportName:
          type: string
        reportStatus:
          type: string
        fromDate:
          type: string
          format: date-time
        toDate:
          type: string
          format: date-time
        businessPurpose:
          type: string
        payMeInCurrency:
          type: string
        amountSpentApproved:
          type: number
        amountCustomer:
          type: number
        currencyCodeCustomer:
          type: string
        exchangeRateCustomer:
          type: string
        isAmountSpentApprovedSet:
          type: boolean
        isApprovedAmountAdjusted:
          type: boolean
        isActive:
          type: boolean
        submitDate:
          type: string
          format: date-time
        remainingAmount:
          type: number
        statusExport:
          type: string
          enum:
            - EXP0
            - EXPF
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/PALineItemTO"
        headerUdas:
          type: array
          items:
            $ref: "#/components/schemas/PAUDATO"
        preApprovalAllocations:
          type: array
          items:
            $ref: "#/components/schemas/PAHeaderAllocationTO"
    PALineItemAllocationTO:
      type: object
      properties:
        allocationId:
          type: string
          description: This Id maps to the header level allocation Id
        costCodeOverride:
          type: string
        entityId1:
          type: integer
          format: int32
        entityId2:
          type: integer
          format: int32
        amountSpent:
          type: number
        percent:
          type: number
      description: These line item allocations map to the header allocation but
        provide the CostCodeOverride field
    PALineItemTO:
      type: object
      properties:
        paLineItemId:
          type: string
        approvalAmount:
          type: number
        description:
          type: string
        xmlUdfData:
          type: array
          items:
            $ref: "#/components/schemas/Uda"
        udas:
          type: array
          items:
            $ref: "#/components/schemas/PAUDATO"
        typeName:
          type: string
        externalRef:
          type: string
        isPerDiem:
          type: boolean
        amountSpent:
          type: number
        lineItemTypeId:
          type: integer
          description: Line Item Type Id mapping to the set of PA Line Item Types
          format: int32
        lineItemAllocations:
          type: array
          description: These line item allocations map to the header allocation but
            provide the CostCodeOverride field
          items:
            $ref: "#/components/schemas/PALineItemAllocationTO"
    PALineItemTypeTO:
      type: object
      properties:
        id:
          type: integer
          description: ID of the item type. Also used to associate with PreApproval Line
            Items
          format: int32
        name:
          type: string
        type:
          type: string
        descriptionTemplate:
          type: string
        externalRef:
          type: string
        other:
          type: boolean
      description: Set of Line Item Types associated with the above set of PreApproval
        Reports
    PAPersonTO:
      type: object
      properties:
        uniquePersonId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        title:
          type: string
        emailAddress:
          type: string
        personEntityV2s:
          type: array
          items:
            $ref: "#/components/schemas/PersonEntityV2"
        personEntities:
          type: array
          description: "Simplified Person Entity with only three fields: RoleName,
            EntityType, and Entity"
          items:
            $ref: "#/components/schemas/PersonEntityExport"
      description: Set of Persons associated with the above set of PreApproval Reports
    PAUDATO:
      type: object
      properties:
        udaName:
          type: string
        stringValue:
          type: string
        numberValue:
          type: number
        currencyValue:
          type: number
        entityValue:
          type: integer
          format: int32
        dateValue:
          type: string
          format: date-time
        booleanValue:
          type: boolean
    PreApprovalExport:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of PreApprovals associated with the given ExportId.
            There may be fewer reports in response if pagination is used
          format: int32
        preApprovals:
          type: array
          items:
            $ref: "#/components/schemas/PAHeaderTO"
        allocations:
          type: array
          description: Set of Allocations associated with the above set of PreApproval
            Reports
          items:
            $ref: "#/components/schemas/PAAllocationTO"
        entities:
          type: array
          description: Set of Entities associated with the above set of PreApproval Reports
          items:
            $ref: "#/components/schemas/PAEntityTO"
        persons:
          type: array
          description: Set of Persons associated with the above set of PreApproval Reports
          items:
            $ref: "#/components/schemas/PAPersonTO"
        paLineItemTypes:
          type: array
          description: Set of Line Item Types associated with the above set of PreApproval
            Reports
          items:
            $ref: "#/components/schemas/PALineItemTypeTO"
